link(
  rel="stylesheet",
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css",
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p",
  crossorigin="anonymous"
)

link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&display=swap")

link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
.container-fluid
  .menuShowContainer
    .menuShowContent
      .menu-items
        a(href="#")
          li text
        a(href="#")
          li text
        a(href="#")
          li text
  .row.p-0
    .headerContainer
      .heraderContent
        .logoContainer
          .logoContent
            .logoimg
              img
        .menuContainer
          .menuContent
            .menu
              span.material-icons menu
      
  //- header-end
  .row.scroll
    .col-10.aboutBanner_content.side
      .aboutBanner_img
  //- banner-contanet end
  .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.m-auto
        h1.side About
        .col-10.side
          p 關鍵評論網 UI / UX Design 2021/03 - 2022
          span - B to B 後台系統建置 UI 流程規劃，了解市場需求反饋優化 to B 後台 
          br
          span - 規劃整體使用者流程，Prototype / Mockup / WireFrame 示意規劃製作
          br
          span - 制定前端視覺 / UI 元件 原子化 協作前端視覺製作 / icon 製作
          br
          span - 集團官方網站設計(web/mobile)版本規劃與製作
          br
          span - 品牌CIS設計，整體設計規範制定，品牌形象視覺規劃
        .col-10.side
          p 自由接案 free-lancer 2020/03 - 2021/03
          span UI / UX
          br
          span - 頁面設計 / 整體流程規劃 / 優化頁面使用者體驗 / 設計規範定義 / 
          br
          span Ｗeb/Mobile
          br
          span - 網頁設計 / 前端網站串寫 / 手機版本製作 / 重構網站設計製作 /  
          br
          span Graphic
          br
          span - CIS / VI / Logo設計 / 名片設計 / DM設計 / 品牌形象重構 / 包裝設計 / 廣告Banner設計
          br
        .col-10.side
          p 星辰軟體 UI Design 2019/10 - 2020/03
          span - APP流程設計規劃  / 優化頁面使用者體驗 / 設計規範定義 
          br
          span - 網頁設計  / 手機版本製作 /   
          br
          span - CIS / VI / Logo設計 / 名片設計 / 廣告Banner設計
        .col-10.side
          p 達愉軟件 2018/08 - 2019/08
          span - Adobe After Effects 2D平面動畫製程製作導入 Unity執行
          br
          span - 遊戲UI元件繪畫製作
          br
          span - 官網製作設計規劃，遊戲大廳設計規劃
          br
          span - CIS / VI / Logo設計 / 名片設計 / 廣告Banner設計
        .col-10.side
          p 華美航運 Web Design 2017/01 - 2018/07
          span - GDN廣告投放設計 / Mail形象 EDM 規劃編寫設計
          br
          span - 形象網站設計編寫 / 活動網站設計編寫 / 優化官網使用者動線流程
          br
          span - 品牌 CIS / VI / Logo設計 / 名片設計 /主要活動形象設計  
        .col-10.side
          p 赫彩設計 Graphic Design 2016/01 - 2017/01
          span CIS / VI / Logo設計 / 平面設計 / 廣告設計 / DM設計 / 包裝設計
        .col-10.side
          p 明婧生技 Graphic Design 2015/01 - 2016/01
          span CIS / VI / Logo設計 / 平面設計 / 廣告設計 / DM設計 / 包裝設計
  .row
    .col-12.aboutContent.scroll.py-0
      .col-8.aboutText.m-auto
        h1.side Project experience
        .col-10
          p.side - Myfriend LOGO設計 CIS設計 網站架設
          br
          p.side - ETOVS品牌官網設計 百貨公司專櫃型錄設計，官網風格設計製作
          br
          p.side - 參加台科大生肖創意設計國際競賽活動 
          br
          p.side - 博客來- 出版社書封文宣製作
          br
          p.side - 工研院環保頁面設計
          br
          p.side - 高密度工作書籍（心理測驗網站）設計書籍插圖，架設心理測驗網站內容
          br
          p.side - 少小白文宣 品牌形象設計 Logo設計 文宣設計 Menu設計
          br
  .row.scroll
    .col-10.aboutBanner_content.side
      .aboutBanner_img
  section.skillContainer
    .row
    .col-12.aboutContent.scroll
      .col-8.aboutText.m-auto
        h1.side Skill
        .col-10.side
          h5 UI
          p.skillText 使用 Figma / Sketch / XD
          span - 製定可重用 Design System / Guideline
          br
          span - 整頓新舊版本，Component Symbol 
        .col-10.side
          h5 UX
          p.skillText 使用 Zeplin / Mockup / Wireframe / Prototype 
          span - 繪製產品線框圖、流程圖與 PM.RD 進行溝通的協作，確保技術可行性
          br
          span - 優化設計以改善產品的使用者體驗、維護性和擴充性
        .col-10.side
          h5 Front end
          p.skillText 使用 HTML / Css / Jquery / JavaScript / Pug / Sass / Bootstrap / RWD
          span - 瞭解網頁技能 HTML、CSS（RWD) 
          br
          span - 關注各式網頁動態特效，與工程師溝通討論最佳可適方案 
        .col-10.side
          h5 Graphic
          p.skillText PS / AI
          span - icon / 插圖繪製
          br
          span - 行銷 campaign 主視覺、社群行銷素材、Google 多媒體聯播網廣告
          //- skill Container End
  footer.footerContainer  
    .footerContent
      .footerTextContent
        .contentText
          h1 Contnet
          a(traget="_blank" rel="noreferrer noopenner" href="harry61033@gmail.com")
            span harry61033@gmail.com
.Copyright
  .CopyrightBox
    span Copyright© 2022 RoyXiongDesign